@page "/projects/draft/{ProjectIndex}"
@using SWH.Models
@using SWH.Interfaces
@using SWH.Shared.Components
@using SWH.Shared.enums
@using MudBlazor.Extensions
@inject IDialogService DialogService
@inject IProject ProjectController;
@inject IProductType ProductTypeController;
@inject IProduct ProductController;
@inject ISnackbar Snackbar;
@inject NavigationManager NavManager

<h3>Drafting Project: @_project.Name</h3>
Current Cost: @_project.Cost

<MudTable Items="_project.Products" Dense="true" CanCancelEdit="true"
          @bind-SelectedItem="_selectedItem"
          IsEditRowSwitchingBlocked="false"
          CommitEditTooltip="Commit Edit"
          CancelEditTooltip="Cancel Edit"
          RowEditCommit="CommitEdit"
          RowEditCancel="ResetItemToOriginalValues"
          RowEditPreview="Backup"
          Filter="new Func<ProjectProducts, bool>(FilterFunc1)">

    <ToolBarContent>
        <MudItem xs="6">
            <MudTextField @bind-Value="_searchString1" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" MaxLength="45" Clearable/>
        </MudItem>
        <MudSpacer/>
        <MudTooltip Class="align-content-lg-end" Text="Add product">
            <MudIconButton OnClick="AddProduct" Icon="@Icons.Material.Outlined.Add" Size="Size.Medium"/>
        </MudTooltip>
        <MudTooltip Class="align-content-lg-end" Text="Save project">
            <MudIconButton OnClick="Save" Icon="@Icons.Material.Outlined.Save" Size="Size.Medium"/>
        </MudTooltip>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProjectProducts, object>(x => x.ProductType.Name)">Product Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProjectProducts, object>(x => x.ProductType.Price)">Product Price</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProjectProducts, object>(x => x.Quantity)">Required Amount</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Stock, object>(x => x.Quantity)">Current Storage</MudTableSortLabel>
        </MudTh>
        <MudTh> Delete</MudTh>
    </HeaderContent>
    <RowTemplate Context="productListContext">
        <MudTd DataLabel="name">@productListContext.ProductType.Name</MudTd>
        <MudTd DataLabel="price">@productListContext.ProductType.Price HUF</MudTd>
        <MudTd DataLabel="quantity">@productListContext.Quantity</MudTd>
        <MudTd DataLabel="storage">
            @foreach (var stock in _storage.Where(stock => stock.ProductType.Name == productListContext.ProductType.Name))
            {
                @stock.Quantity
            }
        </MudTd>
        <MudTd DataLabel="del">
            <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="@(() => { DeleteProduct(productListContext.ProductType.Name); })"/>
        </MudTd>
    </RowTemplate>
    <RowEditingTemplate Context="productListContext">
        <MudTd DataLabel="name">@productListContext.ProductType.Name</MudTd>
        <MudTd DataLabel="price">@productListContext.ProductType.Price HUF</MudTd>
        <MudTd DataLabel="quantity">
            <MudNumericField @bind-Value="_selectedItem.Quantity" Required MaxLength="5" Min="1" Max="10000" Immediate/>
        </MudTd>
        <MudTd DataLabel="storage">
            @foreach (var stock in _storage.Where(stock => stock.ProductType.Name == productListContext.ProductType.Name))
            {
                @stock.Quantity
            }
        </MudTd>
    </RowEditingTemplate>
</MudTable>

@code {

    [Parameter]
    public string ProjectIndex { get; set; }

    private List<ProductType> _productTypes = new();
    List<Product> _products = new();
    private List<ProjectProducts> _storage = new();

    private Project _project = new();
    private string _searchString1 = "";
    private ProjectProducts _selectedItem;
    private ProjectProducts _backup = new();

    protected override async Task OnInitializedAsync()
    {
        _project = ProjectController.GetProject(ProjectIndex);
        _productTypes = await ProductTypeController.GetAllProductTypes();
        _products = await ProductController.GetAllProducts();

        foreach (var stock in _productTypes.Select(productType => new ProjectProducts() { ProductType = productType }))
        {
            foreach (var product in _products.Where(product => product.ProductType.Name == stock.ProductType.Name))
            {
                stock.Quantity += product.Quantity;
            }

            _storage.Add(stock);
        }
    }

    private async void Save()
    {
        try
        {
            _project.Status = "Draft";
            foreach (var product in from product in _project.Products
                from stock in _storage.Where(stock => product.ProductType.Name == stock.ProductType.Name && product.Quantity > stock.Quantity)
                select product)
            {
                foreach (var stock in _storage.Where(stock => product.ProductType.Name == stock.ProductType.Name && product.Quantity > stock.Quantity))
                {
                    _project.Status = "Wait";
                    _project.EstimatedDate = DateOnly.FromDateTime(DateTime.Now + TimeSpan.FromDays(21));
                }
            }
            _project.EstimatedDate = DateOnly.FromDateTime(DateTime.Now + TimeSpan.FromDays(14));
            var draftedProject = _project;

            draftedProject.UpdatedAt = DateOnly.FromDateTime(DateTime.Now);
            draftedProject.CreatedAt = _project.CreatedAt;


            DialogParameters parameters = new() { { "Content", "Are you sure you want to draft the project?" } };
            var result = await DialogService.ShowAsync<ConfirmDialog>("Warning!", parameters);
            var dialogResult = await result.Result;
            if (dialogResult.Canceled) return;
            Snackbar.Add("Project successfully drafted!", Severity.Success);
            ProjectController.UpdateProject(draftedProject);
        }
        catch (Exception e)
        {
    //ignored
        }
        NavManager.NavigateTo("/projects");
    }

    private async void AddProduct()
    {
        DialogParameters parameters = new() { { "productsList", _project.Products } };
        var res = await DialogService.ShowAsync<AddProductToDraft>("Add new Product for Draft", parameters);
        var result = await res.Result;
        if (result.Data is null) return;
        _project.Products.Add(result.Data as ProjectProducts);

        _project.Cost = 0;
        foreach (var product in _project.Products)
        {
            _project.Cost += product.ProductType.Price * product.Quantity;
        }
        Snackbar.Add("Product added to draft!", Severity.Success);
        StateHasChanged();
    }

    private async void DeleteProduct(string name)
    {
        try
        {
            DialogParameters parameters = new() { { "Content", "Are you sure you want to delete this product from the draft?" } };
            var result = await DialogService.ShowAsync<ConfirmDialog>("Warning!", parameters);
            var dialogResult = await result.Result;
            if (dialogResult.Canceled) return;

    //await this function to  wait for the foreach to finish
            await Task.Run(() =>
            {
                foreach (var product in _project.Products.Where(product => product.ProductType.Name == name))
                {
                    _project.Products.Remove(product);
                    _project.Cost -= product.ProductType.Price * product.Quantity;
                    Snackbar.Add("Product deleted!", Severity.Success);
                    break;
                }
            });

            StateHasChanged();
        }
        catch (Exception e)
        {
    //ignored
        }
    }

    private async void CommitEdit(object product)
    {
        try
        {
            DialogParameters parameters = new() { { "Content", "Are you sure you want to save your edit?" } };
            var result = await DialogService.ShowAsync<ConfirmDialog>("Warning!", parameters);
            var res = await result.Result;
            if (res.Canceled)
            {
                ResetItemToOriginalValues(product);
                Snackbar.Add("Edit cancelled", Severity.Info);
            }
            else
            {
                var view = (ProjectProducts)product;
                foreach (var prod in _project.Products.Where(prod => prod.ProductType.Name == view.ProductType.Name))
                {
                    prod.Quantity = _selectedItem.Quantity;
                }

                _project.Cost = 0;
                foreach (var prod in _project.Products)
                {
                    _project.Cost += prod.ProductType.Price * prod.Quantity;
                }
                Snackbar.Add("Successfully saved edit", Severity.Success);
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
    //ignored
        }
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((ProjectProducts)element).ProductType.Name = _backup.ProductType.Name;
        ((ProjectProducts)element).ProductType.Price = _backup.ProductType.Price;
        ((ProjectProducts)element).Quantity = _backup.Quantity;
    }

    private void Backup(object element)
    {
        _backup = new ProjectProducts
        {
            ProductType = ((ProjectProducts)element).ProductType,
            Quantity = ((ProjectProducts)element).Quantity
        };
    }

    private bool FilterFunc1(ProjectProducts product) => FilterFunc(product, _searchString1);

    private bool FilterFunc(ProjectProducts product, string searchString)
    {
        return string.IsNullOrWhiteSpace(searchString) || product.ProductType.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }

}