<h3>Projects</h3>
@page "/projects"
@using SWH.Models
@using SWH.Interfaces
@using SWH.Shared.Components
@using MongoDB.Bson
@inject IProject ProjectController
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudTable Items="_projects" Dense="true" 
          CanCancelEdit="true"
          @bind-SelectedItem="selectedItem"
          IsEditRowSwitchingBlocked="false"
          CommitEditTooltip="Commit Edit"
          CancelEditTooltip="Cancel Edit"
          RowEditCommit="CommitEdit"
          RowEditCancel="ResetItemToOriginalValues"
          RowEditPreview="Backup"
          Filter="new Func<Project, bool>(FilterFunc1)">

    <ToolBarContent>
        <MudItem xs="6">
            <MudTextField @bind-Value="searchString1" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="justify-content: end" MaxLength="45" Clearable/>
        </MudItem>
        <MudSpacer/>
        <MudTooltip Class="align-content-lg-end" Text="Add project">
            <MudIconButton OnClick="AddProject" Icon="@Icons.Material.Outlined.Add" Size="Size.Large"/>
        </MudTooltip>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Project, object>(x => x.Name)">Project Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Project, object>(x => x.Location)">Location</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Project, object>(x => x.Status)">Project Status</MudTableSortLabel>
        </MudTh>
        <MudTh> Project Information</MudTh>
        <MudTh> Draft Project</MudTh>
        <MudTh> Delete</MudTh>
    </HeaderContent>
    <RowTemplate Context="projectContext">
        <MudTd DataLabel="name">@projectContext.Name</MudTd>
        <MudTd DataLabel="location">@projectContext.Location</MudTd>
        <MudTd DataLabel="status">@projectContext.Status</MudTd>
        <MudTd DataLabel="info">
            <MudIconButton Icon="@Icons.Filled.Info" Color="Color.Info" OnClick="@(() => { Information(projectContext.id); })"/>
        </MudTd>
        <MudTd DataLabel="draft">
            <MudIconButton Icon="@Icons.Filled.Edit" OnClick="@(() => { DraftProject(projectContext.id); })"/>
        </MudTd>
        <MudTd DataLabel="del">
            <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="@(() => { DeleteProject(projectContext.id); })"/>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    List<Project> _projects = new();
    private Project backup = new();
    private Project selectedItem;
    private string searchString1 = "";
    DialogOptions smallWidth = new() { MaxWidth = MaxWidth.Small, FullWidth = true };
    
    protected override async Task OnInitializedAsync()
    {
        _projects = await ProjectController.GetAllProjects();
    }
    
    private async void AddProject()
    {
        var res = DialogService.Show<AddProject>("Add new Product", smallWidth);
        var result = await res.Result;
        if (result.Data is null) return;
        _projects = await ProjectController.GetAllProjects();
        Snackbar.Add("Project added!", Severity.Success);
        StateHasChanged();
    }
    
    private async void DeleteProject(string index)
    {
        try
        {
            DialogParameters parameters = new() { { "_content", "Are you sure you want to delete this project?\n It can not be undone!" } };
            var result = DialogService.Show<ConfirmDialog>("Warning!", parameters);
            var dialogResult = await result.Result;
            if (dialogResult.Canceled) return;
            ProjectController.DeleteProject(index);
            Snackbar.Add("Project deleted!", Severity.Success);
            _projects = await ProjectController.GetAllProjects();
            StateHasChanged();
        }
        catch (Exception e)
        {
    //ignored
        }
    }

    private async void DraftProject(string index)
    {
        try
        {
            DialogParameters parameters = new() { { "projectIndex", index } };
            var res = DialogService.Show<DraftProject>("Draft Project", parameters);
            var result = await res.Result;
            if (result.Canceled) return;
            Snackbar.Add("Project drafted!", Severity.Info);
            
        }
        catch (Exception e)
        {
            //ignored
        }
    }

    private async void Information(string index)
    {
        try
        {
            
        }
        catch (Exception e)
        {
            //ignoted
        }
    }
    
    private async void CommitEdit(object project)
    {
        Console.WriteLine(((Project)project).Status);
        try
        {
            DialogParameters parameters = new() { { "_content", "Are you sure you want to save?" } };
            var result = DialogService.Show<ConfirmDialog>("Warning!", parameters);
            var res = await result.Result;
            Console.WriteLine(res.Canceled);
            if (res.Canceled)
            {
                ResetItemToOriginalValues(project);
                Snackbar.Add("Edit cancelled", Severity.Info);
            }
            else
            {
                ProjectController.UpdateProject((Project)project);
                Snackbar.Add("Successfully saved edit", Severity.Success);
            }
            _projects = await ProjectController.GetAllProjects();
            StateHasChanged();
        }
        catch (Exception e)
        {
    //ignored
        }
    }
    
    private void ResetItemToOriginalValues(object element)
    {
        Console.WriteLine(backup.Name);
        ((Project)element).Name = backup.Name;
        ((Project)element).Location = backup.Location;
        ((Project)element).Description = backup.Description;
        ((Project)element).UserName = backup.UserName;
        ((Project)element).PhoneNumber = backup.PhoneNumber;
        ((Project)element).Status = backup.Status;
    }
    
    private void Backup(object element)
    {
        backup = new Project
        {
            Name = ((Project)element).Name,
            Location = ((Project)element).Location,
            Description = ((Project)element).Description,
            UserName = ((Project)element).UserName,
            PhoneNumber = ((Project)element).PhoneNumber,
            Status = ((Project)element).Status
        };
    }
    
    private bool FilterFunc1(Project project) => FilterFunc(project, searchString1);

    private bool FilterFunc(Project project, string searchString)
    {
        return string.IsNullOrWhiteSpace(searchString) || project.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }
}